<div class="container container-default">
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Cards App</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="Active" ><a routerLink="cards" routerLinkActive="active" >Card-List</a></li>
                    <!-- <li><a routerLink="detail" routerLinkActive="active">Detail</a></li> -->
                    <li><a id="happy"  class="option-happy" routerLink="userlist" routerLinkActive="active" >User-List</a></li>
                    <li><a id="happy"  class="option-happy" routerLink="add"    routerLinkActive="active" >Add-Card's</a></li>
                    <li><a id="happy"  class="option-happy" routerLink="adduser" routerLinkActive="active" >Add-User's</a></li>
                  </ul>
                </div>
              </nav>
</div>
<router-outlet></router-outlet>
<!-- <app-form></app-form> -->
